@font-face {
  font-family: 'organ';
  src: url(organ.ttf);
}

body {
  background: #064413;
  color: #48ff00;
  font-family: 'organ', sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

p {
  font-size: 0.8rem;
  text-align: center;
}

g {
  --s: 70px;
  --r: 12px;
  display: grid;
  width: fit-content;
  border: 1px solid;
  margin: auto;
  grid: auto-flow var(--s)/repeat(5, var(--s));
}

g:before {
  content: "Original Image";
  color: #0ddf30;
  font-size: 13px;
  border: #00c932 1px solid;
  margin-top: 80px;
  font-weight: bold;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(5*var(--s)*0.6);
  aspect-ratio: 1;
  background: var(--i) 0/100% 100%;
  display: grid;
  place-content: center;
}

z {
  display: grid;
  position: relative;
  pointer-events: none;
  outline: 1px dashed;
}

a {
  grid-area: 1/1;
  width: 0;
  transition: 0s 0.2s;
  pointer-events: initial;
}

b {
  grid-area: 1/1;
  z-index: 2;
  display: grid;
  filter: drop-shadow(0 0 2px red) drop-shadow(0 0 2px red);
  cursor: grab;
  pointer-events: initial;
  height: calc(100% + var(--r));
  width: calc(100% + var(--r));
  place-self: start end;
  --m:
    radial-gradient(var(--r) at calc(50% - var(--r)/2) 0,#0000 98%,#000) var(--r) 0/100% var(--r) no-repeat,
    radial-gradient(var(--r) at calc(100% - var(--r)) calc(50% - var(--r)/2),#0000 98%,#000) var(--r) 50%/100% calc(100% - 2*var(--r)) no-repeat,
    radial-gradient(var(--r) at var(--r) calc(50% - var(--r)/2),#000 98%,#0000),
    radial-gradient(var(--r) at calc(50% + var(--r)/2) calc(100% - var(--r)),#000 98%,#0000);
}

b:before {
  content: "";
  background: var(--i) 0/calc(5*var(--s)) calc(5*var(--s));
  -webkit-mask: var(--m);
  mask: var(--m);
}

z:first-child b {
  height: calc(100% + var(--r));
  width: 100%;
  --m:
    radial-gradient(var(--r) at 100% calc(50% + var(--r)/2),#0000 98%,#000)
     0 calc(-1*var(--r)) no-repeat,
    radial-gradient(var(--r) at 50% calc(100% - var(--r)),#000 98%,#0000) ;
}

